<% unless upgraded? %>
	<div class="ad_wrapper">
		<% if display_ad %>
			<%= link_to (image_tag display_ad.image_url.to_s, class: "banner_ad"), display_ad.url %>
		<% else %>
			<%= link_to (image_tag "default.gif", class: "banner_ad"), new_ad_path %>
		<% end %>
	</div>
<% end %>