<p>Our site uses LaTeX code to produce nice looking math equations.</p>  

<p>Such as the following expression</p>

<p>The probability of getting k heads when flipping n coins is:</p>
<p>$$ P(E) = {n \choose k} p^k (1-p)^{ n-k} $$</p>

<p>The code to produce that equation looks like this:</p>
 <p>(E) = {n \choose k} p^k (1-p)^{ n-k} </p>

 <p>LaTeX code must be have two $'s before and after the code</p>

 <p>For more info on how to use LaTeX code check out this link
 	<a href="https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference" target="_blank">Tutorial</a></p>


