<h1>For Advertisers</h1>

<p>To advertise on makeanexam.com is simple.  Send us an email to admin@makeaneam.com including the following information:<p>

<ul>

	<li>Country or countries you wish to advertise in</li>
	<li>Which months you you wish to have your advertisement placed in</li>
	<li>Number of ads you wish to appear out of ten potential positions</li>
		<ul><li>ie: There are ten banner ads that rotate so state how many banner ads you wish for your ad to appear in</li></ul>
	<li>Which age category you wish for your ad to appear in (k-11, 12-19, 20+)</li>
	<li>Image of your banner ad as either a *.jpg or a *.gif</li>
	<li>URL Link for your website (if you have one)</li>
	<li>Contact information of your company including the following:</li>
		<ul>
			<li>Company Name</li>
			<li>Email Address</li>
			<li>Contact Person</li>
			<li>Mailing Address</li>
			<li>Telephone Number</li>
		</ul>
</ul>
<p>Once you have sent us an email, you are required to send us a cheque or money order in US funds to the following mailing address:<p>
	<div class='advertisers-address'>
		<h4>Nova Phoenix</h4>
		<h4>115 – 11960 222nd st</h4>
		<h4>Maple Ridge, British Columbia</h4>
		<h4>V2X-5V7</h4>
		<h4>CANADA</h4>
	</div>

<p>Banner ads are rotated in a series of ten banner ads so you pay for one banner ad at a time. Payment of each banner ad is currently $ 100.00 USD per banner ad per month per country per age category.</p> 

<ul><li>ie: If you wish to advertise in United States for three months in the 12-19 age category and you would like three ads out of the possible ten rotating ads this would total 1,125.00 US dollars for the ads.</li></ul>

<p>We reserve the right to restrict displaying ads if we deem them to be inappropriate for the advertising audience.  Receipt of payment and submission of advertising information by email is no guarantee of banner ads being placed.  We review each ad that is submitted on an individual case-by-case study to determine if it is suitable for posting on makeanexam.com.  This is a first-come-first-serve basis service.</p>