<div class="landing-image">
	<div class="landing-text">
		<span>Create Online Quizzes and Tests</span>
		<%= button_to "Try for Free", new_user_session_path, method: "get", id: "landing_button", class: "exam_button" %>
	</div>
</div>