<h2>Thank you for upgrading <%= @user.firstname %>!</h2>

<h3>You can now enjoy the benefits of an upgraded member!</h3>

<h3>Your upgraded subscription will expire on <%= @subscription.expiry.strftime("%b %d, %Y") %></h3>

