<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Admin</h1>
    <p>
      An ad has been paid for on Makeanexam.com
    </p>
    <p>Details below</p>

    	<%= render 'payments/show' %>
  </body>
</html>