.banner_ad {
	clear:both;
	width: 100%;
	// margin: 15px auto;
	margin-left: calc((100% - 728px)/2);
	margin-right: calc((100% - 728px)/2);
}

.ad_wrapper {
	max-height: 90px;
	max-width: 728px;
	overflow-y: hidden;
	margin: 15px auto;
}

@media screen and (max-width: 900px) {
	.banner_ad {
		width: 95vw;
		height: auto;
		margin-left: calc((100% - 95vw)/2);
		margin-right: calc((100% - 95vw)/2);
	}


}