// Place all the styles related to the examinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exam_forms {
	margin: 25px;
}

.exam_button {
    color: #fff;
    background:  #0e83cd;
    border: 3px solid #fff;
    // border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    padding: 15px 80px;
    display: inline-block;
    margin: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    // outline: none;
    // position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
.exam_button:hover {
    color: #0e83cd;
    background: #fff;
    border: 3px solid #0e83cd;
}

.question_no {
	display: inline-block;
	margin-right: 15px;
	font-weight: bold;
	margin-left: 10%;
}