  


.nav_links a.active:link, .nav_links a.active:visited {
  border-bottom: 3px solid #f99725;
}

.nav_links a:hover {
    border-bottom: 3px solid #9ea4a7;
}

.navbar {
	margin-bottom: 0 !important;
	
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}