  


.nav_links a.active:link, .nav_links a.active:visited {
  border-bottom: 3px solid #f99725;
}

.nav_links a:hover {
    border-bottom: 3px solid #9ea4a7;
}

.navbar {
	margin-bottom: 0 !important;
	
}