// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.non_header {
	font-size: 24px;
	font-weight: normal;
}

.correct {
	color: #387c33;
	font-weight: bold;
	font-size: 24px;
    margin-left: 2px;	
    margin-bottom: 500px;
}
.correct img {
	margin-right: 5px;
	margin-bottom: 2px;
	height: 20px;
}
.incorrect {
	color: #e42224;
    font-weight: bold;
    font-size: 24px;
    margin-left: 2px;
    // margin-bottom: 50px;
 }
 .incorrect img {
	margin-right: 5px;
	margin-bottom: 2px;
	height: 20px;
}

.score_questions input[type=checkbox], .score_questions  input[type=radio] {
    margin: 4px 15px 0;
    margin-top: 1px;
    line-height: normal;
    transform: scale(1.5);
}

.score_input {
	float: left;
	width: 5%;
}

.score_input_label {
	float: left;
	width: 80%;
	
}