  <footer class="site-footer" style="clear:both;">
             <div class="footer_bar">
                    <div class="cp_bottom">
                        <h5>novaphoenix © 2018</h5>
                    </div>
                    <div class="footer_links">
                        <h5><a href="/pages/privacy">Privacy Policy</a></h5>
                    </div>
                    <div class="footer_links">
                       <h5>makeanexam is trademark protected</h5>
                    </div>
            </div>
    </footer>